.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: palevioletred;
}

a {
  text-decoration: none;
  color: palevioletred;
  font-size: 1.5rem;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.posts {
  background-color: cornflowerblue;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}
